@media (max-width: 1400px) {
    header::after {
      display: block;
    }
    header::before {
      display: block;
    }
    #blogs {
      height: auto;
    }
    #projects {
      top: 980px;
    }
    #sketch{
      top:10px ;
    }
  }
  @media (max-width: 1100px) {
    #main {
      text-align: center;
      height: 600px;
    }
    #main img {
      margin: 64px 0 0 0;
    }
    .themeOptions {
      justify-content: center;
      margin: 60px;
      position: static;
  }
    .themeOptions {
      justify-content: center;
      margin: auto;
      position: static;
    }
    #anchor a {
      margin: 2px 15px;
      font-family: "Roboto Mono", monospace;
    }
    #shadow {
      border: none;
      box-shadow: none;
      background: none;
      position: static;
      margin: 0 auto;
      margin-top: 90px; 
      padding-top: 30px;
      border-top: 2px solid var(--borderColor);
    }
    #shadow h2{
      
      color: var(--mainText);
      font-weight: 100;
      letter-spacing: 5px;
      
      font-size: 22px;
    }
    .corn {
      display: none;
    }
    #blogs {
      height: auto;
    }
    #expert p {
      width: auto;
    }
  }



   
  @media (max-width: 768px) {
    
    #about {
      margin-top: 200px;
    }
    #blogs p {
      width: auto;
    }
    header {
      font-size: 1.3em;
    }
    #shadow {
      background-color: var(--mainColor);
      width: 370px;
      height: 230px;
      position: relative;
      left: 5vw;
      top: -45px;
      border: 1.4px solid var(--borderColor);
      box-shadow: -47px -41px 0 5px var(--mainColor);
  }
    #shadow h3 {
      position: relative;
      width: 340px;
      top: 90px;
      left: -112px;
      font-size: 1.09em;
      line-height: 1.4;
      font-family: "Roboto mono";
  }
  #shadow h2{
      
    color: var(--mainText);
    font-weight: 100;
    letter-spacing: 5px;
    
    font-size: 22px;
  }
    #expert {
      text-align: center;
    }
    
   
  }
  
  
  @media (max-width: 900px) {
    #projects {
      top: 1000px;
    }
    #anchor a {
      margin: 2px 5px;
      font-family: "Roboto Mono", monospace;
    }
    #projects {
      margin-top: 100px;
    }
    #projects h1 {
      font-size: 1.4em;
    }
    #shadow {
      background-color: var(--mainColor);
      width: 370px;
      height: 230px;
      position: relative;
      left: 5vw;
      top: -45px;
      border: 1.4px solid var(--borderColor);
      box-shadow: -47px -41px 0 5px var(--mainColor);
  }
    #about {
      margin-top: 200px;
    }
    #blogs p {
      width: auto;
    }
    header {
      font-size: 1.3em;
    }
    #shadow h3 {
      position: relative;
      width: 340px;
      top: 90px;
      left: -112px;
      font-size: 1.09em;
      line-height: 1.4;
      font-family: "Roboto mono";
  }
  #shadow h2{
      
    color: var(--mainText);
    font-weight: 100;
    letter-spacing: 5px;
    
    font-size: 22px;
  }
    #expert {
      text-align: center;
    }
    
  }





  
  @media (max-width: 1024px) {
    #main img {
         margin: -57px 0px;
    }
    #projects {
      top: 1000px;
    }
  
    #anchor a {
      margin: 2px 5px;
      font-family: "Roboto Mono", monospace;
    }
    #projects {
      margin-top: 100px;
    }
    #projects h1 {
      font-size: 1.4em;
    }
    #shadow {
      background-color: var(--mainColor);
      width: 370px;
      height: 230px;
      position: relative;
      left: 5vw;
      top: -45px;
      border: 1.4px solid var(--borderColor);
      box-shadow: -47px -41px 0 5px var(--mainColor);
  }
    #about {
      margin-top: 200px;
    }
    #blogs p {
      width: auto;
    }
    header {
      font-size: 1.3em;
    }
    #shadow h3 {
      position: relative;
      width: 240px;
      top: 77px;
      left: -112px;
      font-size: 16px;
      line-height: 1.4;
      font-family: "Roboto mono";
  }
  #shadow h2{
      
    color: var(--mainText);
    font-weight: 100;
    letter-spacing: 5px;
    
    font-size: 22px;
  }
  .themeOptions {
    justify-content: center;
    margin: 69px 104px;
    position: static;
  }
    
  }
  @media (max-width: 600px) {
    #projects {
      top: 1000px;
    }
    #project-section img{
      width: 251px;
      height: 200px;
      border: 2px solid white;
      background-color: black;
     
    }
    #projects {
      margin-top: 100px;
    }
    #projects h1 {
      font-size: 1.4em;
    }
    #about {
      margin-top: 200px;
    }
    #anchor a {
      margin: 2px 15px;
      font-family: "Roboto Mono", monospace;
    }
    #blogs p {
      width: auto;
    }
    header {
      font-size: 1.3em;
    }
    #shadow {
    
        height: 224px;
        width: 292px;
        left: 15px;
        box-shadow: -27px -21px 0 5px var(--mainColor);
   
}
    #shadow h3 {
      position: relative;
      width: 240px;
      top: 90px;
      left: -112px;
      font-size: 1.09em;
      line-height: 1.4;
      font-family: "Roboto mono";
  }
  #shadow h2{
      
    color: var(--mainText);
    font-weight: 100;
    letter-spacing: 5px;
    
    font-size: 22px;
  }
    #expert {
      text-align: center;
    }
    
    
  }
  @media (max-width: 499px) {
    #wp {
      padding-right: 40px;
    }
    #js {
      padding-right: 0px;
    }
    #anchor a {
      margin: 2px 15px;
      font-family: "Roboto Mono", monospace;
    }
    #project-section img {
      width: 230px;
      height: 200px;
      border: 2px solid white;
      background-color: black;
  }
    #shadow h2{
      
      color: var(--mainText);
      font-weight: 100;
      letter-spacing: 5px;
      
      font-size: 22px;
    }
    
  }
 
  
  
  @media (max-width: 500px) {
    
    #anchor a {
      margin: 2px 5px;
      font-family: "Roboto Mono", monospace;
    }
    #project {
      margin-top: 972px;
    }
    #project-section img {
      width: 230px;
      height: 200px;
      border: 2px solid white;
      background-color: black;
  }
    #shadow {
    
        height: 224px;
        width: 292px;
        left: 15px;
        box-shadow: -27px -21px 0 5px var(--mainColor);
   
}
    #about {
      margin-top: 200px;
    }
    #blogs p {
      width: auto;
    }
    header {
      font-size: 1.3em;
    }
    #shadow h3 {
      
      width: 260px;
      
  }
  #shadow h2{
      
    color: var(--mainText);
    font-weight: 100;
    letter-spacing: 5px;
    
    font-size: 22px;
  }
    #expert {
      text-align: center;
    }
    
  }
  
  
  @media (max-width: 420px) {
    
    #about {
      margin-top: 100px;
    }
    #blogs p {
      width: auto;
    }
    header {
      font-size: 1.3em;
    }
   #shadow {
    
        height: 224px;
        width: 292px;
        left: 15px;
        box-shadow: -27px -21px 0 5px var(--mainColor);
   
}
  #project-section img {
    width: 230px;
    height: 200px;
    border: 2px solid white;
    background-color: black;
  }
  .themeOptions {
    width: 50px;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 0px;
    right: -80px;
  }
    #shadow h3 {
    width: 261px;
    
}
  #shadow h2{
      
    color: var(--mainText);
    font-weight: 100;
    letter-spacing: 5px;
    
    font-size: 22px;
  }
  #project {
    margin-top: 972px;
  }
    #expert {
      text-align: center;
    }
   
   .skill-card {
    width: 199px;
    display: inline-block;
    /* margin-right: 20px; */
}
}


  @media (max-width: 374px) {
    #shadow h3 {
        width: 286px;
      margin: 0;
    }
    #shadow {
        width: 228px;
        left: 70px;
        box-shadow: -27px -21px 0 5px var(--mainColor);
    }
    #shadow h2{
      
      color: var(--mainText);
      font-weight: 100;
      letter-spacing: 5px;
      
      font-size: 22px;
    }
    #home h3 {
      margin: -50px 0;
    }
    

    h3#do {
      position: relative;
      top: 70px;
      left: 25px;
      text-align: center;
    }
    #responsive-about {
      display: block;
      margin-top: 100px;
      color: var(--mainText);
    }
    #responsive-about h2 {
      padding: 10px 0px;
      padding-top: 20px;
      font-family: "roboto mono";
      border-top: 2px solid var(--borderColor);
    }
    #responsive-about p {
      margin: 0 auto;
      font-size: 0.8em;
      font-family: "roboto mono";
      margin-top: 10px;
      width: 300px;
    }
    #project {
        margin-top: 1129px;
    }
   .skill-card {
    width: 199px;
    display: inline-block;
    /* margin-right: 20px; */
}
  }
  
  @media (max-width: 380px) {
    #wp {
      padding-top: 6px;
      padding-right: 3px;
    }
   
  
    #anchor a {
      margin: 2px 5px;
      font-family: "Roboto Mono", monospace;
    }
    #project {
        margin-top: 1529px;
    }
    #project-section img {
      width: 230px;
      height: 200px;
      border: 2px solid white;
      background-color: black;
  }
  #shadow {
    
        height: 224px;
        width: 292px;
        left: 15px;
        box-shadow: -27px -21px 0 5px var(--mainColor);
   
}
    #about {
      margin-top: 200px;
    }
    #blogs p {
      width: auto;
    }
    header {
      font-size: 1.3em;
    }
    .themeOptions {
        width: 50px;
        display: flex;
        justify-content: space-between;
        position: relative;
        top: 0px;
        right: 45px;
    }

  #shadow h3 {
    width: 261px;
    
}

#shadow h2{
  
  color: var(--mainText);
  font-weight: 100;
  letter-spacing: 5px;
  
  font-size: 22px;
}
    #expert {
      text-align: center;
    }
   .skill-card {
    width: 199px;
    display: inline-block;
    /* margin-right: 20px; */
}
  
  }
