
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Russo One", sans-serif;
}
body *{
  transition: .3s ;
}
*:focus {
  outline: 1px solid black;
}
body {  
  background-color: var(--mainColor);
  overflow-x: hidden;
}
a {
  display: inline-block;
  color: var(--mainText);
  text-decoration: none;
}
header {
  display: flex;
  justify-content: center;
  font-size: 1.8em;
  padding-top: 50px;
  color: var(--mainText);
  letter-spacing: 5px;
  text-align: center;
}
header h1 {
  font-weight: 100;
}

nav {
  display: flex;
  justify-content: space-between;
  max-width: 94vw;
  margin: 60px auto 0 auto;
  background-color: var(--mainColor);
  padding: 10px 20px;
  border: 1px solid var(--borderColor);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: 0px 0px 10px 0px #403f3f8f;
}
#balls {
  display: flex;
}
#ball1 {
  height: 15px;
  width: 15px;
  background-color: rgb(255, 0, 76);
  border-radius: 50%;
  margin-right: 7px;
  margin-top: 3px;
}
#ball2 {
  height: 15px;
  width: 15px;
  background-color: rgb(255, 238, 0);
  border-radius: 50%;
  margin-right: 7px;
  margin-top: 3px;
}
#ball3 {
  height: 15px;
  width: 15px;
  background-color: rgb(14, 252, 6);
  border-radius: 50%;
  margin-top: 3px;
}
#anchor a {
  margin: 2px 15px;
  font-family: "Roboto Mono", monospace;
}
#anchor a:hover {
  color: rgb(147, 223, 206);

}
#main {
  height: 510px;
  max-width: 94vw;
  margin: 0 auto;
  background-color: var(--secondaryColor);
  border: 1px solid var(--borderColor);
  border-top: none;
  box-shadow: 0px 0px 5px 0px #403f3f8f;
}

#main img {
  /* width: 250px;
  border: 3px solid var(--mainColor);
  margin: 70px 130px; */
  width: 366px;
  /* border: 3px solid var(--mainColor); */
  margin: 0px 230px;
}
#home h3 {
  margin: -60px 133px;
  color: var(--mainText);
  font-weight: 100;
  letter-spacing: 0px;
}
#shadow {
  background-color: var(--mainColor);
  width: 370px;
  height: 230px;
  position: relative;
  left: 53vw;
  top: -280px;
  border: 1.4px solid var(--borderColor);
  box-shadow: -47px -41px 0 5px var(--mainColor);
}
.corn {
  background-color: var(--themeDotBorder);
  width: 10px;
  border-radius: 50%;
  height: 10px;
  opacity: 1;
}
#corner1 {
  position: relative;
  top: -4.5px;
  left: -4.5px;
}
#corner2 {
  position: relative;
  top: 213px;
  left: -4.5px;
}
#corner3 {
  position: relative;
  top: -25px;
  left: 363px;
}
#corner4 {
  position: relative;
  top: 193px;
  left: 364px;
}
#shadow h2 {
  color: var(--mainText);
  font-weight: 100;
  letter-spacing: 5px;
  padding: 0 20px;
  font-size: 22px;
}
#shadow h3 {
  position: relative;
  width: 340px;
  top: 90px;
  left: -112px;
  font-size: 1.09em;
  line-height: 1.4;
  font-family: "Roboto mono";
}
#about {
  position: relative;
}
#blogs {
  padding: 80px 40px 0 40px;
  color: rgb(255, 255, 255);
  letter-spacing: 3px;
  line-height: 1.7;
  box-shadow: 0px 0px 20px -5px #403f3f8f;
}
#blogs h1 {
  font-weight: 100;
  font-size: 1.6em;
  letter-spacing: 3px;
  padding-bottom: 26px;
}
#blogs p {
  width: 500px;
  letter-spacing: 0px;
  font-family: "roboto mono";
  padding-bottom: 20px;
  font-size: 0.96em;
}
#blogs p:nth-child(4) {
  border-bottom: 1px solid rgb(255, 255, 255);
  padding-bottom: 35px;
}
.main-nav {
  background-color: var(--mainColor);
  height: 38px;
  width: 94vw;
  margin: 0 auto;
  margin-top: 50px;
  padding: 10px 15px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 1px solid var(--borderColor);
  box-shadow: 0px 0px 5px -2px #403f3f;
}

#blogs {
  display: flex;
  height: auto;
  width: 94vw;
  margin: 8px -16px;
  background-color: var(--secondaryColor);
  border: 1px solid var(--borderColor);
  flex-direction: column;
}
#expert {
  padding-top: 30px;
}
#expert p {
  font-weight: 100;
  width: 600px;
  font-size: 1em;
  padding-bottom: 10px;
}
.themeOptions {
  width: 160px;
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 0px;
  right: -280px;
}
.themeOptions .white {
  background-color: rgb(209, 209, 209);
}
.themeOptions .blue {
  background-color: rgb(79, 79, 117);
}
.themeOptions .green {
  background-color: rgb(114, 160, 114);
}
.themeOptions .purple {
  background-color: rgb(158, 84, 158);
}
.balls {
  margin: 5px;
  height: 20px;
  width: 20px;
  padding: 12px;
  border-radius: 100%;
  border: 2px solid var(--themeDotBorder);
}
.balls:hover,
.balls:focus {
  cursor: pointer;
  transition: 0.1s;
  /* border: 2px solid var(--themeDotBorder); */
  /* scale: 1.2; */
}
.skill {
  display: flex;
  justify-content: flex-start;
  text-align: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
  align-items: center;
  font-size: 3.5em;
  margin-top: 10px;
}

#laptop i {
  margin-top: 28px;
}
.skill-card {
  margin-right: 20px;
}
.skill-card a>i:hover{
  color: rgb(0, 0, 0);
}
.skill h2 {
  text-align: center;
  font-weight: 100;
  /* margin-left: -10px; */
  font-size: 10px;
}
#laptop {
  padding-right: 0px;
}
.project-card {
  margin: 0 auto;
  width: 370px;
  margin-bottom: 50px;
  background-color: rgb(255, 255, 255);
  box-shadow: 5px 5px 20px -5px #403f3f8f;
}
#responsive-about {
  display: none;
}
.project-card p {
  padding: 15px 10px 0px 10px;
  font-family: "roboto mono";
  font-size: 0.85em;
  color: #424242;
}
.project-card h2 {
  padding: 20px 10px 0 10px;
  font-family: sans-serif;
  font-weight: 500;
  letter-spacing: 0px;
  font-size: 1.2em;
  color: rgb(36, 36, 36);
}

.project-card a.view-btn {
  margin: 15px 0 20px 10px;
  padding: 5px 10px;
  background-color: rgb(28, 28, 49);
  text-decoration: underline;
  color: rgb(255, 255, 255);
  font-family: "roboto mono";
  font-size: 0.92em;
}
#card-4 a:nth-child(2) {
  margin-top: 33px;
}
#card-1 a:nth-child(2) {
  margin-top: 31px;
}
.project-card img {
  height: 190px;
  width: 370px;
}
.toggle {
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  grid-column-gap: 3rem;
  opacity: 0;
}
@keyframes show {
  to {
    opacity: 1;
  }
}
#projects {
  
  border-top: 1px solid var(--borderColor);
  border-bottom: 1px solid var(--borderColor);
  background-color: var(--secondaryColor);
  color: black;
 
}
#projects h1 {
  margin-top: 5px;
  margin-bottom: 60px;
  text-align: center;
  letter-spacing: 4px;
  color: var(--mainText);
  font-weight: 100;
  font-size: 2em;
}
#card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: left;
  padding: 2px 300px;
  justify-content: center;
}
a#link-2 {
  margin-top: 16px;
}
a#link {
  margin-top: 15px;
}
#card-6 a:nth-child(2) {
  margin-top: 33px;
}
#btn-container {
  display: flex;
  justify-content: center;
}
#btn {
  font-size: 0.9em;
  font-family: "roboto mono";
  cursor: pointer;
  border: 3px solid var(--mainColor);
  background-color: var(--mainColor);
  padding: 1px 30px;
  color: var(--mainText);
  margin-top: -15px;
  margin-bottom: 8px;
}
#btn img {
  position: relative;
  top: 0px;
  padding-top: 2px;
  width: 28px;
  filter: invert(80%);
  animation: upndown 0.6s infinite;
}
strong {
  font-weight: 100;
}
.sketch-card {
  margin: 0 auto;
  width: 370px;
  margin-bottom: 50px;
  background-color: rgb(255, 255, 255);
  box-shadow: 5px 5px 20px -5px #403f3f8f;
}
.sketch-card p {
  padding: 15px 10px 0px 10px;
  font-family: "roboto mono";
  font-size: 0.85em;
  color: #424242;
}
.sketch-card h2 {
  padding: 20px 10px 0 10px;
  font-family: sans-serif;
  font-weight: 500;
  letter-spacing: 0px;
  font-size: 1.2em;
  color: rgb(36, 36, 36);
}

.sketch-card a.view-btn {
  margin: 15px 0 20px 10px;
  padding: 5px 10px;
  background-color: rgb(28, 28, 49);
  text-decoration: underline;
  color: rgb(255, 255, 255);
  font-family: "roboto mono";
  font-size: 0.92em;
}
.sketch-card img {
  height: 190px;
  width: 370px;
}
#sketch {
  margin: 0 auto;
  padding: 50px 0 20px 0;
  border-top: 1px solid var(--borderColor);
  border-bottom: 1px solid var(--borderColor);
  background-color: var(--secondaryColor);
  color: black;
}
#sketch h1 {
  margin-top: 8px;
  margin-bottom: 50px;
  text-align: center;
  letter-spacing: 4px;
  color: var(--mainText);
  font-weight: 100;
  font-size: 2.5em;
}
#maker-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: left;
  padding: 20px 0px;
  justify-content: center;
}

#dustin1{
  
    margin: 30px 2px;
    height: auto;
    display: block;
    flex-direction: row;
}
  #dustin2 {
    margin: 30px 52px;
}

#dustin3 {
  margin: 32px;
}


#project {
  margin-top: 700px;
}
#hello {
  padding: 80px 40px 0 40px;
  color: rgb(255, 255, 255);
  letter-spacing: 3px;
  line-height: 1.7;
  box-shadow: 0px 0px 20px -5px #403f3f8f;
}
#hello h1 {
  font-weight: 100;
  font-size: 1.6em;
  letter-spacing: 3px;
  padding-bottom: 26px;
}
#hello p {
  width: 500px;
  letter-spacing: 0px;
  font-family: "roboto mono";
  padding-bottom: 20px;
  font-size: 0.96em;
}
#hello p:nth-child(4) {
  border-bottom: 1px solid rgb(255, 255, 255);
  padding-bottom: 35px;
}

#hello {
  display: flex;
  height: auto;
  width: 94vw;
  margin: 8px -16px;
  background-color: var(--secondaryColor);
  border: 1px solid var(--borderColor);
  flex-direction: column;
}
#project-section {
    display: grid;
    margin: 4px;
    border: 2px solid rgb(53, 84, 102);
 
}
#project-section h1 {
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
    display: inline-block;
    text-align: center;
 
}
#project-section p {
 width: 300px;

}
.img-center{
    text-align: center;
}
#project-section img{
  width: 501px;
  height: 300px;
  border: 2px solid white;
  background-color: black;
 
}

@keyframes upndown {
  0% {
    top: 0px;
  }
  100% {
    top: 3px;
  }
}

@media (max-width: 1400px) {
  header::after {
    display: block;
  }
  header::before {
    display: block;
  }
  #blogs {
    height: auto;
  }
  #projects {
    top: 980px;
  }
  #sketch{
    top:10px ;
  }
}
@media (max-width: 1100px) {
  #main {
    text-align: center;
    height: 600px;
  }
  #main img {
    margin: 64px 0 0 0;
  }
  .themeOptions {
    justify-content: center;
    margin: 60px;
    position: static;
}
  .themeOptions {
    justify-content: center;
    margin: auto;
    position: static;
  }
  #anchor a {
    margin: 2px 15px;
    font-family: "Roboto Mono", monospace;
  }
  #shadow {
    border: none;
    box-shadow: none;
    background: none;
    position: static;
    margin: 0 auto;
    margin-top: 90px; 
    padding-top: 30px;
    border-top: 2px solid var(--borderColor);
  }
  #shadow h2{
    
    color: var(--mainText);
    font-weight: 100;
    letter-spacing: 5px;
    
    font-size: 22px;
  }
  .corn {
    display: none;
  }
  #blogs {
    height: auto;
  }
  #expert p {
    width: auto;
  }
}
@media (max-width: 600px) {
  #projects {
    top: 1000px;
  }
  #project-section img{
    width: 251px;
    height: 200px;
    border: 2px solid white;
    background-color: black;
   
  }
  #projects {
    margin-top: 100px;
  }
  #projects h1 {
    font-size: 1.4em;
  }
  #about {
    margin-top: 200px;
  }
  #anchor a {
    margin: 2px 15px;
    font-family: "Roboto Mono", monospace;
  }
  #blogs p {
    width: auto;
  }
  header {
    font-size: 1.3em;
  }
  #shadow {
    background-color: var(--mainColor);
    width: 370px;
    height: 230px;
    position: relative;
    left: 5vw;
    top: -45px;
    border: 1.4px solid var(--borderColor);
    box-shadow: -47px -41px 0 5px var(--mainColor);
}
  #shadow h3 {
    position: relative;
    width: 340px;
    top: 90px;
    left: -112px;
    font-size: 1.09em;
    line-height: 1.4;
    font-family: "Roboto mono";
}
#shadow h2{
    
  color: var(--mainText);
  font-weight: 100;
  letter-spacing: 5px;
  
  font-size: 22px;
}
  #expert {
    text-align: center;
  }
  .skill {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
  }
  .skill-card {
    padding-bottom: 0px;
    padding-right: 0px;
    margin-right: 0px;
    font-size: 3.4rem;
  }
  #wp {
    padding-right: 0px;
  }
  #sketch {
    top: 1000px;
  }
  #sketch {
    margin-top: 100px;
  }
  #sketch h1 {
    font-size: 1.4em;
    padding-left: 200px;
  }
}
@media (max-width: 499px) {
  #wp {
    padding-right: 40px;
  }
  #js {
    padding-right: 0px;
  }
  #anchor a {
    margin: 2px 15px;
    font-family: "Roboto Mono", monospace;
  }
  #project-section img {
    width: 230px;
    height: 200px;
    border: 2px solid white;
    background-color: black;
}
  #shadow h2{
    
    color: var(--mainText);
    font-weight: 100;
    letter-spacing: 5px;
    
    font-size: 22px;
  }
  .skill-card {
    padding-bottom: 0px;
    padding-right: 0px;
    margin-right: 0px;
    font-size: 3.4rem;
  }
}
@media (max-width: 384px) {
  #shadow h3 {
    width: 300px;
    margin: 0;
  }
  #shadow {
    display: none;
  }
  #shadow h2{
    
    color: var(--mainText);
    font-weight: 100;
    letter-spacing: 5px;
    
    font-size: 22px;
  }
  #home h3 {
    margin: -50px 0;
  }
  .skill-card {
    padding-bottom: 0px;
    padding-right: 0px;
    margin-right: 0px;
    font-size: 2.4rem;
  }
  h3#do {
    position: relative;
    top: 70px;
    left: 25px;
    text-align: center;
  }
  #responsive-about {
    display: block;
    margin-top: 100px;
    color: var(--mainText);
  }
  #responsive-about h2 {
    padding: 10px 0px;
    padding-top: 20px;
    font-family: "roboto mono";
    border-top: 2px solid var(--borderColor);
  }
  #responsive-about p {
    margin: 0 auto;
    font-size: 0.8em;
    font-family: "roboto mono";
    margin-top: 10px;
    width: 300px;
  }
  #projects {
    top: 190vh;
  }
 
}

@media (max-width: 399px) {
  #wp {
    padding-top: 6px;
    padding-right: 3px;
  }
  #project {
    margin-top: 972px;
  }

}


@media (max-width: 500px) {
  
  #anchor a {
    margin: 2px 5px;
    font-family: "Roboto Mono", monospace;
  }
  #project {
        margin-top: 1058px;
  }
  #project-section img {
    width: 230px;
    height: 200px;
    border: 2px solid white;
    background-color: black;
}
  #shadow {
    background-color: var(--mainColor);
    width: 370px;
    height: 230px;
    position: relative;
    left: 5vw;
    top: -45px;
    border: 1.4px solid var(--borderColor);
    box-shadow: -47px -41px 0 5px var(--mainColor);
}
  #about {
    margin-top: 200px;
  }
  #blogs p {
    width: auto;
  }
  header {
    font-size: 1.3em;
  }
  #shadow h3 {
    position: relative;
    width: 340px;
    top: 90px;
    left: -112px;
    font-size: 1.09em;
    line-height: 1.4;
    font-family: "Roboto mono";
}
#shadow h2{
    
  color: var(--mainText);
  font-weight: 100;
  letter-spacing: 5px;
  
  font-size: 22px;
}
  #expert {
    text-align: center;
  }
  .skill {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
  }
  .skill-card {
    padding-bottom: 0px;
    padding-right: 0px;
    margin-right: 0px;
    font-size: 3.4rem;
  }
  #wp {
    padding-right: 0px;
  }
  #sketch {
    top: 1000px;
  }
  #sketch {
    margin-top: 100px;
  }
  #sketch h1 {
    font-size: 1.4em;
    padding-left: 200px;
  }
}


@media (max-width: 420px) {
  
  #about {
    margin-top: 100px;
  }
  #blogs p {
    width: auto;
  }
  header {
    font-size: 1.3em;
  }
  #shadow {
    background-color: var(--mainColor);
    width: 170px;
    height: 130px;
    position: relative;
    left: 5vw;
    top: -25px;
    border: 1.4px solid var(--borderColor);
    box-shadow: -47px -41px 0 5px var(--mainColor);
}
#project-section img {
  width: 230px;
  height: 200px;
  border: 2px solid white;
  background-color: black;
}
.themeOptions {
  width: 50px;
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 0px;
  right: -80px;
}
  #shadow h3 {
    position: relative;
    width: 340px;
    top: 90px;
    left: -112px;
    font-size: 1.09em;
    line-height: 1.4;
    font-family: "Roboto mono";
}
#shadow h2{
    
  color: var(--mainText);
  font-weight: 100;
  letter-spacing: 5px;
  
  font-size: 22px;
}
#project {
     margin-top: 1058px;
}
  #expert {
    text-align: center;
  }
  .skill {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
  }
  .skill-card {
    padding-bottom: 0px;
    padding-right: 0px;
    margin-right: 0px;
    font-size: 3.4rem;
  }
  #wp {
    padding-right: 0px;
  }
  #sketch {
    top: 1000px;
  }
  #sketch {
    margin-top: 100px;
  }
  #sketch h1 {
    font-size: 1.4em;
    padding-left: 200px;
  }
}



@media (max-width: 768px) {
  
  #about {
    margin-top: 200px;
  }
  #blogs p {
    width: auto;
  }
  header {
    font-size: 1.3em;
  }
  #shadow {
    background-color: var(--mainColor);
    width: 370px;
    height: 230px;
    position: relative;
    left: 5vw;
    top: -45px;
    border: 1.4px solid var(--borderColor);
    box-shadow: -47px -41px 0 5px var(--mainColor);
}
  #shadow h3 {
    position: relative;
    width: 340px;
    top: 90px;
    left: -112px;
    font-size: 1.09em;
    line-height: 1.4;
    font-family: "Roboto mono";
}
#shadow h2{
    
  color: var(--mainText);
  font-weight: 100;
  letter-spacing: 5px;
  
  font-size: 22px;
}
  #expert {
    text-align: center;
  }
  .skill {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
  }
  .skill-card {
    padding-bottom: 0px;
    padding-right: 0px;
    margin-right: 0px;
    font-size: 3.4rem;
  }
  #wp {
    padding-right: 0px;
  }
  #sketch {
    top: 1000px;
  }
  #sketch {
    margin-top: 100px;
  }
  #sketch h1 {
    font-size: 1.4em;
    padding-left: 200px;
  }
}


@media (max-width: 900px) {
  #projects {
    top: 1000px;
  }
  #anchor a {
    margin: 2px 5px;
    font-family: "Roboto Mono", monospace;
  }
  #projects {
    margin-top: 100px;
  }
  #projects h1 {
    font-size: 1.4em;
  }
  #shadow {
    background-color: var(--mainColor);
    width: 370px;
    height: 230px;
    position: relative;
    left: 5vw;
    top: -45px;
    border: 1.4px solid var(--borderColor);
    box-shadow: -47px -41px 0 5px var(--mainColor);
}
  #about {
    margin-top: 200px;
  }
  #blogs p {
    width: auto;
  }
  header {
    font-size: 1.3em;
  }
  #shadow h3 {
    position: relative;
    width: 340px;
    top: 90px;
    left: -112px;
    font-size: 1.09em;
    line-height: 1.4;
    font-family: "Roboto mono";
}
#shadow h2{
    
  color: var(--mainText);
  font-weight: 100;
  letter-spacing: 5px;
  
  font-size: 22px;
}
  #expert {
    text-align: center;
  }
  .skill {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
  }
  .skill-card {
    padding-bottom: 0px;
    padding-right: 0px;
    margin-right: 0px;
    font-size: 3.4rem;
  }
  #wp {
    padding-right: 0px;
  }
  #sketch {
    top: 1000px;
  }
  #sketch {
    margin-top: 100px;
  }
  #sketch h1 {
    font-size: 1.4em;
    padding-left: 200px;
  }
}

@media (max-width: 1024px) {
  #main img {
    margin: -51px -1px;
  }
  #projects {
    top: 1000px;
  }

  #anchor a {
    margin: 2px 5px;
    font-family: "Roboto Mono", monospace;
  }
  #projects {
    margin-top: 100px;
  }
  #projects h1 {
    font-size: 1.4em;
  }
  #shadow {
    background-color: var(--mainColor);
    width: 370px;
    height: 230px;
    position: relative;
    left: 5vw;
    top: -45px;
    border: 1.4px solid var(--borderColor);
    box-shadow: -47px -41px 0 5px var(--mainColor);
}
  #about {
    margin-top: 200px;
  }
  #blogs p {
    width: auto;
  }
  header {
    font-size: 1.3em;
  }
  #shadow h3 {
    position: relative;
    width: 240px;
    top: 77px;
    left: -112px;
    font-size: 16px;
    line-height: 1.4;
    font-family: "Roboto mono";
}
#shadow h2{
    
  color: var(--mainText);
  font-weight: 100;
  letter-spacing: 5px;
  
  font-size: 22px;
}
.themeOptions {
  justify-content: center;
  margin: 69px 104px;
  position: static;
}
  .skill {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
  }
  .skill-card {
    padding-bottom: 0px;
    padding-right: 0px;
    margin-right: 0px;
    font-size: 3.4rem;
  }
  #wp {
    padding-right: 0px;
  }
  #sketch {
    top: 1000px;
  }
  #sketch {
    margin-top: 100px;
  }
  #sketch h1 {
    font-size: 1.4em;
    padding-left: 200px;
  }
}



