/* :root{
    --mainColor: #15202B;
    --secondaryColor: #192734;
    --borderColor: #000000;
    --mainText: #fff;
    --secondaryText: #4b5156;
    --themeDotBorder: #061d1a;
    --previewBg: rgb(251, 249, 243, 0.8);
    --previewShadow: #77662d;
    --buttonColor: black;
} */
:root {
    --mainColor: #15202B;
    --secondaryColor: #192734;
    --borderColor: #164D56;
    --mainText: #fff;
    --secondaryText: #eeeeee;
    --themeDotBorder: #FFF;
    --previewBg: rgb(25, 39, 52, 0.8);
    --previewShadow: #111921;
    --buttonColor: #17a2b8;
  }