:root{
    --mainColor: #851a8f;
    --secondaryColor: #520441;
    --borderColor: #000000;
    --mainText: black;
    --secondaryText: #4b5156;
    --themeDotBorder: #0579ec;
    --previewBg: rgb(251, 249, 243, 0.8);
    --previewShadow: #77662d;
    --buttonColor: black;
}